kbd {
  background-color: #fff3cd !important;
  color: #000 !important;
}

/* destaque laranja */
.destaque-amarelo {
    background-color: #F9B066;
    padding: 10px;
    border-left: 5px solid #ffc107;
    border-radius: 4px;
    text-align: justify;    
}

.destaque-amarelo-claro {
    background-color: #FBEC5D; 
    border-radius: 4px;
    text-align: justify;
    padding: 2px 6px; 
    border-radius: 4px;
    display: inline; 
}

.linha-destaque {
    background-color: #F9B066;
    padding: 2px 4px;
    border-radius: 4px;
    display: inline-block;
    white-space: normal;
    text-align: justify;    
}

table.quebra-linha :is(td, th):nth-child(2),
table.quebra-linha :is(td, th):nth-child(4),
table.quebra-linha :is(td, th):nth-child(5) {
  white-space: normal !important;
  word-break: break-word;
  overflow-wrap: anywhere;
}

table.quebra-ultima-linha td:nth-last-child(-n+1),
table.quebra-ultima-linha th:nth-last-child(-n+1) {
  white-space: normal !important;
  word-break: break-word;
  overflow-wrap: anywhere;
}
