kbd {
  background-color: #fff3cd !important;
  color: #000 !important;
}

.destaque-amarelo {
    background-color: #fff3cd;
    padding: 10px;
    border-left: 5px solid #ffc107;
    border-radius: 4px;
    text-align: justify;    
}

.linha-destaque {
    background-color: #F9B066;
    padding: 2px 4px;
    border-radius: 4px;
    display: inline-block;
    white-space: normal;
    text-align: justify;    
}

.legenda-destaque {
    background-color: #F9B066;
    padding: 2px 4px;
    border-radius: 4px;
    display: inline-block;
    white-space: normal;
    text-align: justify; 
    color: #F9B066 !important;
}

.tabela-branca {
    background-color: #F9B066 !important;
}
